@import "tailwindcss";
@font-face{
  font-family: rocksalt;
  src: url("../src/assets/fonts/RockSalt-Regular.ttf");
}
@font-face{
  font-family:firacode;
  src: url("../src/assets/fonts/FiraCode-VariableFont_wght.ttf");
}
@font-face{
  font-family : acme;
  src: url("../src/assets/fonts/Acme-Regular.ttf");
}
@font-face{
  font-family: intel;
  src: url("../src/assets/fonts/IntelOneMono-VariableFont_wght.ttf");
}
@theme{
  --font-rock : rocksalt;
  --font-fira: firacode;
  --font-acme : acme;
  --font-intel:intel;
}
body{
  height: 100%;
  margin: 0;
  width: 100vw;
  background-color: #201f26; /* slate-950 */
  position: relative;
  padding-left: 56px;
  padding-right: 56px;

}
body::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-image: radial-gradient(
    circle 500px at 50% 200px,
    #3e3e3e,
    transparent
  );
}
